<meta charset="UTF-8">
<title>SwarmControl</title>
<meta name="description" content="SwarmControl, an online game controlling robotic swarms: solve tasks, win stars, help science! The SwarmControl project aims to understand the best ways to control a swarm of robots by a human.">
<meta name="keywords" content="Robot, swarm, microrobot, robotics, game, gamification, nanorobot">
<meta name="author" content="Aaron Becker, Chris Ertel">

  <!-- Add the following tags inside head. -->
<meta itemprop="name" content="Robot SwarmControl: Massive Manipulation">
<meta itemprop="description" content="SwarmControl, an online game controlling robotic swarms: solve tasks, win stars, help science! The SwarmControl project aims to understand the best ways to control a swarm of robots by a human.">
<meta itemprop="image" content="http://swarmcontrol.net/assets/varying_control.png">
<meta property="og:title" content="Robot SwarmControl: Massive Manipulation" />
<meta property="og:type" content="game" />
<meta property="og:url" content="http://swarmcontrol.net" />
<meta property="og:image" content="http://swarmcontrol.net/assets/varying_control.png" />
<meta property="og:site_name" content="http://swarmcontrol.net" />
<meta property="fb:admins" content="1956786" />
<meta property="og:description" content="SwarmControl, an online game controlling robotic swarms: solve tasks, win stars, help science! The SwarmControl project aims to understand the best ways to control a swarm of robots by a human." />
<meta property="og:locale" content="en_US" />
<meta property="og:video" content="http://www.youtube.com/watch?v=px5RdSvGD2Q" />