<div class="footer">
    <div class="container">
        <div class="pull-left">            
            <strong>SwarmControl &#8212;
                <a href="http://www.youtube.com/user/aabecker5" style="color:inherit">Aaron Becker</a>
                &amp; Chris Ertel
            </strong>
        </div>
        <div class="pull-right">
            &copy;2016
             <a href='mailto:info@swarmcontrol.net' style="color:inherit">info@swarmcontrol.net</a>  
        </div>
    </div>
</div>
