<div class="row">	  
	<% (locals.tasks||[]).forEach( function( task ) { %>
	<div class="col-sm-6 col-md-3 col-lg-2">
		<a href="<%= '/games/' + task.name %>">
	        <div id="div1" align="center">
	            <div class ="highlightit", style="display: inline">
	            	<img src="<%= 'assets/games/'+ task.name + '/preview.png' %>"></img>
	            </div>
	            <div align="center">
	                <%= task.displayName %>
	            </div>
	            <script>drawMeritBadges("div1","<%= task.id %>",3);</script>
	        </div>
        </a>
    </div>
	<% }) %>
</div>