<div class="navbar navbar-inverse navbar-fixed-top center">
    <div class="navbar-inner ds-navbar">
        <div class="container">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/"> Tasks </a>
                </li>
                <li>
                    <a href="/results"> Results </a>
                </li>
                <li>
                    <a href="/videos"> Videos </a>
                </li>
                <li>
                    <a href="https://swarmcontrol.uservoice.com/clients/widgets/classic_widget#create_idea"> Suggestion Board </a>
                </li>
            </ul>
            <ul class="nav navbar-right">
                <li>
                    <a href="https://www.youtube.com/user/aabecker5" class="navbar-brand">
                        <img src="/assets/images/RSCL.png"></img>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
