
  
<script>
    $(document).ready(function(){
//alternate warning in a non intrusive alert line
//$('body').prepend('<div class="alert alert-warning alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> SwarmControl.net helps science by studying how humans interact with robot swarms.  <strong>We record gameplay statistics.</strong> <br>  Click  <button class="btn btn-warning -tos-accept"> I accept!</button> to play.  </div>');


        if (document.cookie.indexOf("tos_seen") == -1) {

            
            $.colorbox({width:"50%",height:"70%", inline:true, href:"#terms-of-service",
            closeButton:false, escKey:false, overlayClose:false,onLoad: function() {  //all this to remove 'close' button
                $('#cboxClose').remove();
                $('.-tos-more-button').on("click", function() {
                    $(".tos-details").show();
                    $('.-tos-more-button').hide();
                });
            }});

            $(".-tos-accept").on("click", function () {
                $.colorbox.remove();
                document.cookie = "tos_seen=true";
            });
        }
    });
</script>


<div style="display:none;">
    <div id="terms-of-service" style="padding:20px; background-color: #fff">
    <h4 class="pull-right"><button class="btn btn-success -tos-accept"> I accept!</button> </h4>
    <h3>UNIVERSITY OF HOUSTON  </h3>
    <h4>CONSENT TO PARTICIPATE IN RESEARCH </h4>

    <h4>PROJECT TITLE:  </h4>
    SwarmControl: An online user study on controlling large swarms of simple robots <br>

    You are being invited to participate in a research project conducted by Aaron T. Becker from the Electrical and Computer Engineering Department at the University of Houston.  

     <h4>NON-PARTICIPATION STATEMENT </h4>
    Your participation is voluntary and you may refuse to participate or withdraw at any time without penalty or loss of benefits to which you are otherwise entitled. You may also refuse to answer any question. If you are a student, a decision to participate or not or to withdraw your participation will have no effect on your standing.

     <h4>PURPOSE OF THE STUDY </h4>
    The purpose of the study is to compare and contrast several control techniques for directing swarms of simulated robots.  The study will proceed for 2 years.

     <h4>PROCEDURES </h4>
    You will be one of approximately 10,000 subjects to be asked to participate in this project.

    The SwarmControl project aims to understand the best ways to control a swarm of robots by a human.  The project achieves this through a series of games.  The project is continuously changed to promote the creation of experts and to become the most effective exploration tool. To achieve this, the project continuously gathers and analyzes data.  Users interact by creating an account, playing the game, or using the website or associated communication channels.

    You may play as many games as you like.  Games require 1 to 10 minutes to complete.

     <h4>CONFIDENTIALITY </h4>
    Your participation in this project is anonymous.  Please do not write your name on any materials to be returned to the principal investigator.

     <h4>RISKS/DISCOMFORTS </h4>
    There are no foreseeable risks.

     <h4>BENEFITS </h4>
    While you will not directly benefit from participation, your participation may help investigators better understand human interfaces for controlling large numbers of robots

     <h4>ALTERNATIVES </h4>
    Participation in this project is voluntary and the only alternative to this project is non-participation.

     <h4>PUBLICATION STATEMENT </h4>
    The results of this study may be published in professional and/or scientific journals.  It may also be used for educational purposes or for professional presentations.  However, no individual subject will be identified. <br>

    If you have any questions, you may contact Assistant Professor Aaron T. Becker at 713-743-6671.  

     <h4>ANY QUESTIONS REGARDING YOUR RIGHTS AS A RESEARCH SUBJECT MAY BE ADDRESSED TO THE UNIVERSITY OF HOUSTON COMMITTEE FOR THE PROTECTION OF HUMAN SUBJECTS (713-743-9204).   </h4>

     <h4 class="pull-right"><button class="btn btn-success -tos-accept"> I accept!</button>
            </h4>
            
    Principal Investigator’s Name: Aaron T. Becker 9/30/2015 <br>

    I agree to take part in this research and am 18 years of age or older. <br>

    <a href="https://www.dropbox.com/sh/m45kcg2iiu0ql6y/AACm88WbEcBEKgskrn3ca3Wqa?dl=0">IRB Documents</a>        
    </div>
   

</div>