<h2> The Science </h2>

<p>
	Sensing is expensive, especially on the nanoscale.  To see nanocars, scientists fasten molecules that fluoresce light when activated by a strong lamp of a particular color. Unfortunately, multiple exposures can destroy these molecules, a process called <a href="http://en.wikipedia.org/wiki/Photobleaching">photobleaching</a>.
</p>
<p>
	What happens if we use less power for the exposure?  This experiment explores manipulation with varying amounts of sensing information.
</p>
<div class="text-center">
	<iframe width="270" height="295"  src="//www.youtube.com/embed/qIW6hPgqCRE" frameborder="0" allowfullscreen>
	</iframe>
</div>
<p>
	<strong>Full-state</strong> sensing provides the most information, because it tells the position of all robots (200 numbers for 100 robots).

	The <strong>convex-hull</strong> draws a line around the outermost robots.

	<strong>Mean</strong> tells where the average position (just 2 numbers for all 100 robots), and knowing the <strong>variance</strong> adds only 3 additional numbers.'
</p>