body, html 
{
    margin-top:40px;
    background-image: url("/assets/images/climpek.png");
    background-repeat: repeat;
}

a:hover
{
    text-decoration: none;
}

.play-again-button
{
}

.task-info
{
    padding:10px;
    height:505px;
    overflow-y:auto;
    overflow-x:hidden;
}

.task-buttons
{
    margin:10px;
}

hr
{
    color: #000;
    border-top: 0px;
    border-bottom: 5px solid #ccc;
}

.footer
{
    position:fixed;
    bottom:0px;
    color: #ccc;
    background-color: #000;
    width:100%;
}

h1 .btn-group
{
    display: inline-block;
}

.highlightit img{
    border: 4px solid #ccc;
}

.highlightit:hover img{
    border: 4px solid rgb(70,0,255);
}

.highlightit:hover{
    color: rgb(70,0,255); /* Dummy definition to overcome IE bug */
}


