.results-chart-container
{
	/*
    margin: 5px;
    padding: 5px;
    display: inline-block;
    */
}

.results-chart
{
    background-color: #eee;
    width: 500px;
    height: 500px;
}

.results-page
{
    margin-bottom: 80px;
}
