.results-chart-container
{
    margin: 0px;
    padding: 5px;
    display: inline-block;
}

.results-chart
{
    background-color: #eee;
    width: 450px;
    height: 450px;
}

.results-page
{
    margin-bottom: 80px;
}
