<h2> The Science </h2>

<p>
	This tasks examines how task completion time <i>scales</i> with the number of robots.
</p>
<p>
	Having trouble? <a href="http://www.youtube.com/watch?v=5p_XIad5-Cw"><strong>See hint</strong></a>.
</p>

<p>
	If a task requires twice as much time as for one robot with two robots, 3x times as much with three robots, and 4x with four robots, we say the task <i>scales linearly</i>. If a task requires 4x times the time with two robots, 9x with three robots, and 16x with four, we say the task <i>scales quadratically</i>.
</p>

<p>
	Knowing how a task scales with robot number lets us describe task difficulty.
</p>

<div class="text-center">
	<iframe width="270" height="295" src="//www.youtube.com/embed/5p_XIad5-Cw" frameborder="0" allowfullscreen></iframe>
</div>

<p>
	See <a href="http://www.youtube.com/watch?v=5p_XIad5-Cw"> our video on swarm position control </a> and <a href="https://sites.google.com/site/aabecker/Becker2013b.pdf">our paper</a>  for details.
</p>