<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/CreativeWork">
	<head>
		<%- include('partials/app-common-head.html.ejs') %>

	</head>
	<body>
		<%- include('partials/footer.html.ejs') %>
	</body>
</html>