<h2> How To Play </h2>

The predators (green) are trying to eat the preys (blue). Guide preys to home without being killed by predators.

Play all 3 control styles!
<br>
<br>
<div class="text-center">
	<div class="btn-group">
		<button class="btn btn-default mode-button" title="choose mode button" id="button-attractive">
			Attractive
		</button>
		<button class="btn btn-default mode-button" title="choose mode button" id="button-repulsive">
			Repulsive
		</button>
		<button class="btn btn-default mode-button" title="choose mode button" id="button-global">
			Global
		</button>
	</div>
</div>