<h2> The Science </h2>

<p>
	 This experiment compares hunting with different controllers, modeled after real-world devices.
</p>
<div class="text-center">
	<iframe width="270" height="295" src="//www.youtube.com/embed/qIW6hPgqCRE" frameborder="0" allowfullscreen></iframe>
</div>
<p>
	Scientists are using scanning tunneling microscopes (STM) to arrange atoms and make small assemblies.

	A very tiny sub-microscopic tip is charged with electrical potential, and this charge can be used to repulse like-charged molecules or attract differently-charged molecules.

	The global controller represents using global field (formed by parallel lines of differently-charged conductors) to pull molecules all in the same direction.

	See <a href="http://www.youtube.com/watch?v=px5RdSvGD2Q">video of a global controller</a>, or <a href="https://sites.google.com/site/aabecker/Becker2013b.pdf">our paper</a>.
</p>