<h2> Instructions </h2>

<p>
	Assemble the two objects together using the arrow keys (&#8592;,&#8593;,&#8595;,&#8594;). 
</p>

<p>
	Be careful! The object has a <a href="https://en.wikipedia.org/wiki/Density">density</a> of <span id="task-mode-density"></span> kg/m<sup>2</sup> fighting against your robots.
</p>

<p>
	Your unique ID player is: <span id="unique-id-player"></span>
</p>