<h2> Instructions </h2>

<p>
	Try different ways of controlling robots. Press mouse button to engage robots (blue) to move blocks (green) toward goal positions (outlined). Play all 3!
</p>

<div class="text-center">
	<div class="btn-group">
		<button class="btn btn-default mode-button" title="choose mode button" id="button-attractive">
			Attractive
		</button>
		<button class="btn btn-default mode-button" title="choose mode button" id="button-repulsive">
			Repulsive
		</button>
		<button class="btn btn-default mode-button" title="choose mode button" id="button-global">
			Global
		</button>
	</div>
</div>