<h2> The Science </h2>

<p>
 	Transport of goods and materials between points is at the heart of all engineering and construction in real-world systems.

 	This experiment varies the number of robots used to transport an object.
 </p>

<p>
	We keep the total area, maximum robot speed, and sum force the swarm can produce constant.

	See <a href="http://www.youtube.com/watch?v=px5RdSvGD2Q"> our video of robots pushing a model piano</a>, or <a href="https://sites.google.com/site/aabecker/Becker2013b.pdf">our paper</a>  for details.
</p>

<div class="text-center">
	<iframe width="270" height="295" src="//www.youtube.com/embed/px5RdSvGD2Q" frameborder="0" allowfullscreen></iframe>
</div>
