<h2> Instructions </h2>

<p>
	Use the robots (blue) to move the blocks (green) to the goal positions (outlined) with the arrow keys (&#8592;,&#8593;,&#8595;,&#8594;).
</p>

<p>
	Be careful! <a href="http://en.wikipedia.org/wiki/Brownian_noise">Brownian noise</a> that is <span id="task-mode-power"></span>% of control power is pushing your robots.
</p>