<h2> The Science </h2>

<p>
	Real-world microrobots and nanorobots are affected by turbulence caused by random collisions with molecules.

	These collisions are called <a href="http://en.wikipedia.org/wiki/Brownian_noise">Brownian noise</a>.

	This experiment varies the strength of these disturbances to study how noise affects human control of large swarms.
</p>

<div class="text-center">
	<iframe width="270" height="295" src="//www.youtube.com/embed/MLr2YvghPns" frameborder="0" allowfullscreen>
	</iframe>
</div>

<p>
	One way to counter disturbances is to use <a href="http://en.wikipedia.org/wiki/Feedback_control">feedback control</a>: measure the swarm positions, and automatically calculate a new control value based on the current measurements.
</p>
<p>
	See <a href="http://www.youtube.com/watch?v=MLr2YvghPns"> our video on feedback control of living one-celled organisms</a> and <a href="https://sites.google.com/site/aabecker/Becker2013a.pdf">paper</a> for details.
</p>