<h2> The Science </h2>

<p>
	This experiment explores manipulation of multiple interlocking pieces using the same swarm. How does the number of pieces affect how the object is assembled?
</p>
<div class="text-center">
	<iframe width="270" height="295"  src="//www.youtube.com/embed/qIW6hPgqCRE" frameborder="0" allowfullscreen>
	</iframe>
</div>
<p>
	<strong>Full-state</strong> sensing provides the most information, because it tells the position of all robots (200 numbers for 100 robots).


	<strong>Mean</strong> tells where the average position (just 2 numbers for all 100 robots), and knowing the <strong>variance</strong> adds only 3 additional numbers.

	The <strong>region-based mean and variance</strong> will add information by giving the mean and variance of the entire swarm and mean and variances for the robots close to each as well.
</p>