<h2> The Science </h2>

<p>
	This experiment explores manipulation of multiple interlocking pieces using the same swarm. How does the number of pieces affect how the object is assembled?
</p>
<div class="text-center">
	<iframe width="270" height="295"  src="//www.youtube.com/embed/XtntPx0GJSQ" frameborder="0" allowfullscreen>
	</iframe>
</div>
