<h2> Instructions </h2>

<p>
	Move <span id="task-mode-count"></span> robots (blue) to the goal area (outlined) using the arrow keys (&#8592;,&#8593;,&#8595;,&#8594;). Play all four visualization methods!
</p>

<div class='btn-group-xs'>
	<button class='btn btn-default mode-button btn-block' title='choose visualization mode' id='button-full-state'>
		full-state
	</button>
	<button class='btn btn-default mode-button btn-block' title='choose visualization mode' id='button-graph'>
		region-based-mean±var
	</button>
	<button class='btn btn-default mode-button btn-block' title='choose visualization mode' id='button-mean±var'>
		mean±var
	</button>
	<button class='btn btn-default mode-button btn-block' title='choose visualization mode' id='button-mean'>
		mean
	</button>
</div>

