<h2> Instructions </h2>

<p>
	Move <span id="task-mode-count"></span> robots (blue) to the goal area (outlined) using the arrow keys (&#8592;,&#8593;,&#8595;,&#8594;). 
</p>


<p>
	Be careful! <a href="http://en.wikipedia.org/wiki/Brownian_noise">Brownian noise</a> that is <span id="task-mode-power"></span>% of control power is pushing your robots.
</p>
