<h2> How To Play </h2>

With your mouse make robots (blue) bring at least 90% of food (green) home (outlined).

Play all 3 control styles!
<br>
<br>
<div class="text-center">
	<div class="btn-group">
		<button class="btn btn-default mode-button" title="choose mode button" id="button-attractive">
			Attractive
		</button>
		<button class="btn btn-default mode-button" title="choose mode button" id="button-repulsive">
			Repulsive
		</button>
		<button class="btn btn-default mode-button" title="choose mode button" id="button-global">
			Global
		</button>
	</div>
</div>