<h2> Instructions </h2>

<p>
	Use arrow keys (&#8592;,&#8594;) to navigate the robots (blue) through the obstacles to the goal at the bottom. The more robots that get to the bottom, the higher the score. 
</p>