<h2> The Science </h2>
<h3> TODO: add info</h3>

<p>
	Knowing how a task scales with robot number lets us describe task difficulty.
</p>

<div class="text-center">
	<iframe width="270" height="295" src="//www.youtube.com/embed/5p_XIad5-Cw" frameborder="0" allowfullscreen></iframe>
</div>

<p>
	See <a href="http://www.youtube.com/watch?v=5p_XIad5-Cw"> our video on swarm position control </a> and <a href="https://sites.google.com/site/aabecker/Becker2013b.pdf">our paper</a>  for details.
</p>